@import url(../../@vivliostyle/theme-bunko/theme.css);

/* 奥付 */
[role='doc-colophon'] {
  font-size: 0.824rem;
  line-height: 1.5rem;
  margin: 10rem;
  break-inside: avoid;

  writing-mode: horizontal-tb;
  text-align: left;

  --vs-theme--subsection-text-indent: 1rem;
}

p {
  white-space: pre-wrap;
  text-align: start;
  text-orientation: upright;
}